<launch>
<!--x,y,z = 1.028, -0.11, 0.8  rpy = 0,0,0.43-->
<node name="spawn_toy_block1" pkg="gazebo_ros" type="spawn_model" args="-file $(find exmpl_models)/toy_block/toy_block.sdf -sdf -model toy_block1 -x 0.5 -y -0.35 -z 0.8  -Y 0.7853982" />

<node name="spawn_toy_block2" pkg="gazebo_ros" type="spawn_model" args="-file $(find exmpl_models)/toy_block/toy_block.sdf -sdf -model toy_block2 -x 0.55 -y -0.3 -z 0.8  -Y 0.7853982" />

<node name="spawn_toy_block3" pkg="gazebo_ros" type="spawn_model" args="-file $(find exmpl_models)/toy_block/toy_block.sdf -sdf -model toy_block3 -x 0.6 -y -0.25 -z 0.8  -Y 0.7853982" />


</launch>
